
.product-details h1{
    
  font-size: 1.1875rem;
  font-family: inherit;
  margin-top: 10px;
  padding: 0;
  text-transform: capitalize;
  color: #111 !important ;
}

.btn1{
  color: white !important;
  padding: 15px;
  background-color:#f16821 ;
  font-size: 15px;
  margin-top: 30px;
}
.btn2{
  color: #f16821 !important;
  padding: 15px;
  background-color:white ;
  border: 1px solid #f16821;
  font-size: 14px;
  margin-top: 30px;
}

input,
button {
  border: 0 none;
  outline: 0 none;
}

button {
  background-color: #666;
  color: #fff;
}

button:hover,
button:focus {
  background-color: #555;
}

.img2,
.basket-module,
.basket-labels,
.basket-product {
  width: 100%;
}


.basket,
.basket-module,
.basket-labels,
.item,
.name,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
  float: left;
}



.hide {
  display: none;
}

main {
  clear: both;
  font-size: 1rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;
  width: 1150px;
}

.padding{
    color: #111 !important;
    padding-top: 40px !important;
}

.basket,
aside {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket {
  width: 100%;
}

.basket-module {
  color: #111;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
}

.promo-code-field {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
  width: 48%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.promo-code-field:hover,
.promo-code-field:focus {
  border: 1px solid #999;
}

.promo-code-cta {
  border-radius: 4px;
  font-size: 0.625rem;
  margin-left: 0.625rem;
  padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-labels {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  margin-top: 1.625rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: #111;
  display: inline-block;
  padding: 0.625rem 0;
}



.item {
  width: 15%;
}
.name {
  width: 36%;
}

.price{
  width: 12%;
}
.quantity,
.subtotal {
  width: 15%;
}



.remove {
  width: auto;
  position: absolute;
  right: 60px;
  bottom: 60px;
  font-size: 30px;
  color: white !important;

}



.item-heading {
  padding-left: 2.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 40px;
}

.basket-product {
  border-bottom: 0.5px solid rgb(226, 226, 226);
  padding: 1rem 0;
  position: relative;
}

.product-image {
  width: 35%;
}

.product-details {
  width: 40%;
}

.product-frame {
  margin-left: 1.1rem;
  border-radius: 10px;
}

.product-details {
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.quantity-field {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 0.625rem;
  padding: 2px;
  width: 3.75rem;
}

aside {
  float: right;
  position: relative;
  width: 30%;
}

.summary {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 1rem;
  position: fixed;
  width: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.summary-total-items {
  color: #666;
  font-size: 0.875rem;
  text-align: center;
}

.summary-subtotal,
.summary-total {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear: both;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
  color: #111;
  float: left;
  width: 50%;
}

.summary-promo {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.promo-title {
  float: left;
  width: 70%;
}

.promo-value {
  color: #8B0000;
  float: left;
  text-align: right;
  width: 30%;
}

.summary-delivery {
  padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
  text-align: right;
}

.total-title {
  font-weight: bold;
  text-transform: uppercase;
}

.summary-checkout {
  display: block;
}

.checkout-cta {
  display: block;
  float: none;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
}

.summary-delivery-selection {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  font-size: 0.625rem;
  height: 34px;
  width: 100%;
}

@media screen and (max-width: 640px) {
  aside,
  .basket,
  .summary,
  .item {
    width: 100%;
  }
  .basket-labels {
    display: none;
  }
  .basket-module {
    margin-bottom: 1rem;
  }
  .item {
    margin-bottom: 1rem;
    text-align: center;
  }

  

  .remove a .Remove {
    border-radius: 50%;
    padding: 5px;
    border: solid 2px #f16821;
  }

  .product-image {
    width: 40%;
    text-align: center;
  }
  .product-details {
    width: 100%;
  }
  .price{
    display: none;
  }
  .subtotal {
    width: auto;
    padding-top: 0px !important;
    position: absolute;
    bottom: 0;
  }
  .subtotal::before {
    content: 'Total :';
  }
  .quantity {
    text-align: center;
    width: auto;
    padding-top: 0px !important;
    margin-bottom: 20px;
  }
  .quantity::before {
    content: 'quantity :   ';
  }
  .quantity-field {
    float: none;
  }
  .remove {
    bottom: 0;
    text-align: left;
    margin-top: 0.75rem;
    position: absolute;
    right: 20px;
  }
  .remove button {
    padding: 0;
  }
  .summary {
    margin-top: 1.25rem;
    position: relative;
  }
  .buttons{
    text-align: center;
  }
  footer{
    text-align: center;
  }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
  aside {
    padding: 0 1rem 0 0;
  }
  .summary {
    width: 28%;
  }
}

@media screen and (max-width: 960px) {
  main {
    width: 100%;
  }
  .product-details {
    padding: 0 1rem;
  }
}


@media screen and (max-width: 320px){
  .btn1{
    margin-right: 27%;
  }
  .btn2{
    margin-right: 20%;
  }
}