
{% load cart_template_tags %}
{% load static %}

<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-5 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0">Selling<span
                            class="text-primary">.</span> </a></h1>
            </div>
            <div class="col-2 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li><a href="#home-section" class="nav-link">Home</a></li>
                        <li><a href="#products-section" class="nav-link">Products</a></li>
                        <li><a href="#about-section" class="nav-link">About Us</a></li>
                        <li><a href="#contact-section" class="nav-link">Contact</a></li>
                        {% if request.user.is_authenticated %}

                        <li><a href="{% url 'core:order-summary' %}" class="nav-link">
                                <span style="background-color: white; color: black;" class=" badge z-depth-1 mr-1">
                                    {{ request.user|cart_item_count }} </span>
                                <i class="fa fa-shopping-cart"></i>
                                <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                            </a></li>

                        <li><a href="{% url 'account_logout' %}" class="nav-link">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'account_signup' %}" class="nav-link">SingUp</a></li>
                        <li><a href="{% url 'account_login' %}" class="nav-link ">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>


            <!-- TODO: display number of element in the cart -->

            <!-- <ul class="navbar-nav nav-flex-icons">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'account_logout' %}" class="nav-link waves-effect">
              <span class="clearfix d-none d-sm-inline-block"> Logout </span>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'account_login' %}" class="nav-link waves-effect">
              <span class="clearfix d-none d-sm-inline-block"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'account_signup' %}" class="nav-link waves-effect">
              <span class="clearfix d-none d-sm-inline-block"> Signup </span>
            </a>
          </li>
          {% endif %}
        </ul> -->


            <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#"
                    class="site-menu-toggle js-menu-toggle text-black float-right"><span
                        class="icon-menu h3"></span></a></div>

        </div>
    </div>

</header>





