{% extends 'base.html' %}
{%block title%}
Shopping Cart
{% endblock title %}
{% block content %}

{% load static %}
{% load cart_template_tags %}


{% include "navbar_page.html" %}

<main>
  <div style="border-bottom: 0.5px solid rgb(226, 226, 226);" class="basket">
    
    <div class="basket-labels">
      <ul>
        <li class="item item-heading">Item</li>
        <li class="name">Name</li>
        <li class="price">Price</li>
        <li class="quantity">Quantity</li>
        <li class="subtotal">Total</li>
      </ul>
    </div>
    {% for order_item in object.items.all %}
    <div class="basket-product">
      <div class="item">
        <div class="product-image">
          <img src="{{ order_item.item.image.url }}" style="width: 130px !important;" height="120" alt="Placholder Image 2" class="product-frame">
        </div>
      </div>
      <div class="product-details ">
        <h1 class="product-padding">{{ order_item.item.title }}</h1>
        <p><strong>Heathered Nautical Navy</strong></p>
        <p>Free shipping + Free returns</p>
      </div>
      <div class="price padding">${{ order_item.item.price }}</div>
      <div class="quantity padding">
        <a  href="{% url 'core:remove_item_from_cart' order_item.item.slug %}"><ion-icon style="color: #f16821; " name="remove-outline"></ion-icon></ion-icon></a>
              {{order_item.quantity}}
        <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><ion-icon style="color: #f16821;" name="add-outline"></ion-icon></i></a>
      </div>
      <div class="subtotal padding">
        ${{ order_item.get_final_price }}
        {%if order_item.item.discount_price%}
        <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
        {% endif %}
      </div>
      <div class="remove">
        <a href="{% url 'core:remove-from-cart' order_item.item.slug %}"><ion-icon class="Remove" name="trash-outline"></ion-icon></a>
      </div>
      
    </div>
    {% endfor %}
    <div style="margin-right: 16%;" class="float-right ">
      <div class="row">
        <div class="col-9">
          <p style="text-align: right;">Sub total</p>
        </div>
        <div class="col-1">
          <span style="color: black; text-align: left;">{% if object.get_total %}
            ${{ object.get_total }}
            {% else %}
            $0
            {% endif %}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <p style="text-align: right;">Shipping Charge</p>
        </div>
        <div class="col-1">
          <span style="color: black;">$0</span>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <p style="text-align: right;">Sales Tax</p>
        </div>
        <div class="col-1">
          <span style="color: black;">$0</span>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <p style="text-align: right;">Total Amount</p>
        </div>
        <div class="col-1">
          <span style="color: black;">{% if object.get_total %}
            ${{ object.get_total }}
            {% else %}
            $0
            {% endif %}</span>
        </div>
      </div>
    </div>
  </div>
  
  <a  href="{% url 'core:checkout' %}"  class="btn1 btn float-right ml-2">PLACE ORDER</a>
  <a  href="{% url 'core:home' %}" class="btn2 btn float-right ml-2">CONTINUE SHOPPING</a>
  

  {% if DISPLAY_COUPON_FORM %}
  <form style="margin-top: 30px;" class="card float-left" action="{% url 'core:add-coupon' %}" method="POST">
    {% csrf_token %}
    <div class="input-group">
      <!-- <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username"
                  aria-describedby="basic-addon2"> -->
      {{ couponform.code }}
      <div class="input-group-append">
        <button style="background-color: #f16821;" class=" btn3  btn-md waves-effect m-0" type="submit">Redeem</button>
      </div>
    </div>
  </form>
  {% endif %}
</main>
{% endblock %}

{% block extra_scripts %}

{% endblock extra_scripts %}